header{
    display: flex;
    justify-content: center;
}

.article__container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}

.header__title{
    width: fit-content;
    text-align: center;
}

/* .border--weight{
    border: 0.1rem solid black;
} */